@font-face {
    font-family: 'TisaPro';
    src: url('../fonts/TisaPro-Regular.otf');
}

@font-face {
    font-family: 'TisaPro';
    src: url('../fonts/TisaPro-Ita.otf');
    font-style: italic;
}

@font-face {
    font-family: 'TisaPro';
    src: url('../fonts/TisaPro-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'FreightSans-Semibold';
    src: url('../fonts/FreigSanProSem.otf');
}

@font-face {
    font-family: 'CeraPRO-Bold';
    src: url('../fonts/CeraPRO-Bold.otf');
}

@font-face {
    font-family: 'CeraPRO';
    src: url('../fonts/CeraPRO-Regular.otf');
}

body {
    font-family: "TisaPro";

    line-height: 1.5em;
    text-align: left;
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialised;
    -webkit-user-select: text;
    color: rgba(50, 53, 58, 1);
    padding: 20px 10px;
    /* account for action bar */
    padding-top: 5pt;
}

@media (min-width: 600pt) {
    body {
        padding-left: 75pt;
        padding-right: 75pt;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    color: rgba(44, 224, 128, 1);
}

.actiontitle {
    font-family: 'CeraPRO-Bold', Roboto, Helvetica, Arial, sans-serif;
    font-size: 28px;
}

/*body.mode_night {
    background-color: #202326;
}*/

.mode_night {
    color: #DEE2E4;
}

.shared__reader__blink.mode_night .highlight {
    background-color: rgba(140, 117, 63, 1);
}

.shared__reader__blink__supplement {
    margin-top: 0;
    margin-bottom: 32px;
}

.shared__reader__blink__supplement .actiontitle {
    display: none;
}

.shared__reader__blink__minutes {
  background-color: #f1f6f4;
  font-family: "CeraPRO";
  padding: 0px;
  margin: 0px
}

.shared__reader__blink__minutes strong {
  font-family: "CeraPRO-Bold"
}
