.shared__reader__blink p {
	line-height: 1.35em;
}

.shared__reader__blink ul {
	padding-left: 18px;
	margin-left: 0px;
}

.shared__reader__blink ol {
	padding-left: 18px;
	margin-left: 0px;
}

.shared__reader__blink .highlight {
	background-color: rgba(252, 249, 202, 1);
}

.shared__reader__blink__supplement {
	text-align: center;
	line-height: 1.5em;
	font-size: 24px;
}

.shared__reader__blink__supplement.ipad {
    font-size: 38px;
}

.shared__reader__blink__supplement:before{
	content: '';
	display: inline-block;
	height: 100%;

	vertical-align: middle;
}

.shared__reader__blink__supplement p {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
